/*.square
{
    width: 100px;
    height: 100px;
    background-color:#FF9999;
}
.squaretop
{
    position: relative;
    top: 200px;
    left: 200px;
    border-bottom: solid;
    border-right: solid;
}
.squaretop::before
{
    content: "";
    position: absolute;
    left: -50px;
    top: -2px;
    height: 100px;
    width: 100px;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    background-color: #FF9999;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom: solid;
}
.squaretop::after
{
    content: "";
    position: absolute;
    top: -50px;
    height: 100px;
    width: 98px;
    background-color: #FF9999;
    border-top-style: solid;
    border-right-style: solid;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-left: solid;
}
.hearttop
{
    rotate: 45deg;
}*/
.circle
{
    height: 98px;
    width: 98px;
    border-radius: 50%;
    border-width: 2px;
    border-style: solid;
    border-color: #00b900;
    background-color: #02de14;
}
.square
{
    height: 100px;
    width: 100px;
    background-color: #02de14;
    border-left: solid;
    border-bottom: solid;
    border-color: #00b900;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-right-width: 0px;
    border-top-width: 0px;
    border-top-color: #02de14;
    border-top-style: solid;
}
